body {
  padding-top: 50px;
}
#wowslider-container1{
  -webkit-box-shadow: 0px 24px 30px -10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 24px 30px -10px rgba(0,0,0,0.7);
  box-shadow: 0px 24px 30px -10px rgba(0,0,0,0.7);
}
.header-box-container{
  width: 100%;
  height: auto;
  border-bottom-style: solid;
  border-width: 1px;
  /*padding-bottom: 40px;*/
  background: url("/images/room10.jpg") no-repeat bottom;
  background-size: 100%;
  .header-content-container {
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 5%;
    padding-left: 45%;
  }
}
.page_title2{
  background: #3AB2E4 url("/images/footer-graph3.png") no-repeat center bottom;
  float: left;
  padding: 40px 0;
  width: 100%;
  margin-bottom: 80px;
  border-bottom-style: solid;
  border-width: 1px;
  h1{
    font-size: 32px;
    font-weight: 200;
    color: #fff;
  }
}
.footer{
  float: left;
  width: 100%;
  padding: 0;
  position: relative;
  background: #f4f4f4 url("/images/footer-graph2.png") no-repeat right bottom;

}
.footer.light{
  .top_footer{
    padding: 80px 0 0 0;
    background: url("/images/footer-graph4.png") no-repeat center top;
  }
  h3.widget-title{
    margin-bottom: 30px;
    float: left;
    margin-top: 0px;
    font-weight: 300;
    overflow: hidden;
    width: 100%;
    i {
      font-weight: 500;
      font-style: normal;
    }
  }
  ul{
    float: left;
    width: 100%;
    padding-left: 0px;
    li{
      list-style: none;
    }
    li.defaultEl::before{
      content: ">";
      color: red;
      font-weight: 200;
      padding-right: 10px;
    }
    li.location::before{
      content: "";
      background-image: url("/images/facebook30.png");
      background-repeat: no-repeat;
      padding-right: 20px;
    }
    li.telephoneNumber::before{
      content: "";
      background-image: url("/images/telephone5.png");
      background-repeat: no-repeat;
      padding-right: 20px;
    }
    li.emailContact::before{
      content: "";
      background-image: url("/images/email5.png");
      background-repeat: no-repeat;
      padding-right: 20px;
    }
  }
  iframe.addressMap{
    margin-bottom: 10px;
  }
}
img#footerlogo{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin-bottom: 20px;
}
img#footerlogo:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  transition: all 0.5s;
}

