//
   Created by manh-cuong on 02.07.15.
div(class="container-fluid footer light")
   div(class="top_footer empty")
   .container(ng-controller="footerController")
      .col-md-3
         a(href='#')
            img#footerlogo(src='/images/Mctran_Wordmark.svg', style="width:70%")
         p.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      .col-md-3
         h3.widget-title Who #[i &nbsp;We Are]
         p.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
         a(href="#")
            img(src='/images/icon1.png')
      .col-md-3
         h3.widget-title Services
         ul(ng-repeat="liElement in liElements")
            li.defaultEl {{liElement.txt}}
      .col-md-3
         h3.widget-title Adress
            i &nbsp;Info
         iframe.addressMap(width="100%", height="200", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlb4uWwS7Y2BqIb0dPkZGgZSW0szBeKwU&q=Bauernfeldstraße 8,Baden-Baden+DE", allowfullscreen)
         ul(ng-repeat="liAdressElement in liAdressElements")
            li(class="{{liAdressElement.class}}") {{liAdressElement.txt}}