.container
    #wowslider-container1
        .ws_images
            ul
                li
                    img#wows1_0(src="/data1/images/1928959.jpg", alt="1928959", title="1928959")
                li
                    img#wows1_1(src="/data1/images/backgroundwallpapers24.jpg", alt="background-wallpapers-24",title="background-wallpapers-24")
                li
                    img#wows1_2(src="/data1/images/twitterbackgroundvectors.jpg", alt="jquery image slider", title="twitter-background-vectors")
                li
                    iframe(width="100%", height="100%", src="https://player.vimeo.com/video/73486778?autoplay=0&title=0&byline=0&badge=0&portrait=0&api=1&player_id=ws_vimeo_73486778.png", frameborder="0", id="ws_vimeo_73486778.png", allowfullscreen)
                    img#wows1_3(src="/data1/images/73486778.png", alt="How to Catch a Bird", title="How to Catch a Bird")
        .ws_bullets
            div
                a(href="#", title="1928959")
                    span
                        img(src="/data1/tooltips/1928959.jpg", alt="1928959")
                        1
                a(href="#", title="background-wallpapers-24")
                    span
                        img(src="/data1/tooltips/backgroundwallpapers24.jpg", alt="background-wallpapers-24")
                        2
                a(href="#", title="twitter-background-vectors")
                    span
                        img(src="/data1/tooltips/twitterbackgroundvectors.jpg", alt="twitter-background-vectors")
                        3
                a(href="#", title="Earth - Dream Koala")
                    span
                        img(src="/data1/tooltips/73486778.png", alt="How to Catch a Bird")
                        4
        .ws_script(style="position:absolute;left:-99%")
            a(href="http://wowslider.com") slider wordpress
            by WOWSlider.com v8.1m
        .ws_shadow
script(src="/engine1/wowslider.js")
script(src="/engine1/script.js")
