nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapse(type='button', data-toggle='collapse', data-target="#navbar")
                span.sr-only Toggle navigation
                - for (var x = 0; x < 4; x++)
                span.icon-bar
            a.navbar-brand(href='#')
                img(src='/images/McGill_Wordmark.svg', style="max-width:100px")
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                each val in [{name: 'Home', href: '/', class: 'active'}, {name: 'Link', href: '/', class: ''}]
                    li(class=val.class)
                        a(href=val.href)= val.name
                        if val.class === 'active'
                            span.sr-only (current)
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Dropdown
                        span.caret
                    ul.dropdown-menu(role='menu')
                        each val in [{name: 'Action', href: '#', class: ''}, {name: 'Another Action', href: '#', class: ''}, {name: 'Something else here', href: '#', class: ''}]
                            li
                                a(class=val.class, href=val.href)= val.name
                        li.divider
                        li.dropdown-header Nav Header
                        each val in [{name: 'Separated Link', href: '#', class: ''}, {name: 'One more separated link', href: '#', class: ''}]
                            li
                                a(href=val.href, class=val.class)= val.name
            form.navbar-form.navbar-left(role='search')
                div.form-group
                    input.form-control(type='text', placeholder='Search')
                button.btn.btn-primary.btn-sm(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#") Static Top
