extends layout

block header
   include headerSlider

block content
   .container(ng-controller="usersManagement")
      table.table.table-striped.table-hover
         thead
            tr
               th id
               th name
               th email
               th management
         tbody
            each key in results
               tr
                  td #{key._id}
                  td #{key.name}
                  td #{key.email}
                  td
                     form(method="POST", action="")
                        input(type="hidden", name="_method", value="delete")
                        input(type="hidden", name="id", value=key._id)
                        button.btn.btn-danger(type="submit") delete
            tr
               td
               td
                  div(ng-class="(insertForm.username.$invalid) ? 'has-error' : 'has-success'")
                     input.form-control(type="text", placeholder="name", ng-model="userDefault.name")
                     label.control-label(ng-show="insertForm.username.$error.required") Username required!
               td
                  div(ng-class="(insertForm.useremail.$invalid) ? 'has-error' : 'has-success'")
                     input.form-control(type="email", placeholder="email", ng-model="userDefault.email")
                     label.control-label(ng-show="insertForm.useremail.$invalid") Email required or invalid!
               td
                  button.btn.btn-success(type="submit", form="insert_form", ng-disabled="(insertForm.username.$invalid || insertForm.useremail.$invalid)") add
      form(method="POST", action="", name="insertForm")
         input(type="hidden", name="_method", value="insert")
         input(type="text", name="username", ng-model="userDefault.name", required, style="display:none")
         input(type="email", name="useremail", ng-model="userDefault.email", required, style="display:none")